# ENES KARAAĞAÇ

STEP-1

In [2]:
#importing libraries

import numpy as np
import pandas as pd

In [3]:
#reading datasets

animes=pd.read_csv(r"C:\Users\90544\Desktop\Dataset_A1\animes.csv")

train_data=pd.read_csv(r"C:\Users\90544\Desktop\Dataset_A1\user_rates_train.csv")

test_data=pd.read_csv(r"C:\Users\90544\Desktop\Dataset_A1\user_rates_test.csv")

train_data

       user_id Username  anime_id                   Anime Title  rating
0          549   dotGif       790                    Ergo Proxy       9
1          549   dotGif       306   Abenobashi Mahou☆Shoutengai       8
2          549   dotGif        54             Appleseed (Movie)       7
3          549   dotGif        66  Azumanga Daiou The Animation       8
4          549   dotGif     28805                Bakemono no Ko       9
...        ...      ...       ...                           ...     ...
49355  1290429   Anka21      4898                  Kuroshitsuji      10
49356  1290429   Anka21      6707               Kuroshitsuji II       8
49357  1290429   Anka21      9136      Kuroshitsuji II Specials       9
49358  1290429   Anka21     10161                          No.6       9
49359  1290429   Anka21      1726                 Devil May Cry       8

[49360 rows x 5 columns]

In [4]:
big_data=pd.concat([train_data,test_data])
big_data

     user_id Username  anime_id                    Anime Title  rating
0        549   dotGif       790                     Ergo Proxy       9
1        549   dotGif       306    Abenobashi Mahou☆Shoutengai       8
2        549   dotGif        54              Appleseed (Movie)       7
3        549   dotGif        66   Azumanga Daiou The Animation       8
4        549   dotGif     28805                 Bakemono no Ko       9
..       ...      ...       ...                            ...     ...
872  1257993      LHT     13601                    Psycho-Pass      10
873  1257993      LHT       205               Samurai Champloo      10
874  1257993      LHT      7311  Suzumiya Haruhi no Shoushitsu      10
875  1257993      LHT       849     Suzumiya Haruhi no Yuuutsu       9
876  1257993      LHT      1735             Naruto: Shippuuden       6

[50237 rows x 5 columns]

In [5]:
animes.head()

,anime_id,Name,Genres,Type,Studios,Source,Duration,Image URL
0,1,Cowboy Bebop,"Action, Award Winning, Sci-Fi",TV,Sunrise,Original,24 min per ep,https://cdn.myanimelist.net/images/anime/4/196...
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Sci-Fi",Movie,Bones,Original,1 hr 55 min,https://cdn.myanimelist.net/images/anime/1439/...
2,6,Trigun,"Action, Adventure, Sci-Fi",TV,Madhouse,Manga,24 min per ep,https://cdn.myanimelist.net/images/anime/7/203...
3,7,Witch Hunter Robin,"Action, Drama, Mystery, Supernatural",TV,Sunrise,Original,25 min per ep,https://cdn.myanimelist.net/images/anime/10/19...
4,8,Bouken Ou Beet,"Adventure, Fantasy, Supernatural",TV,Toei Animation,Manga,23 min per ep,https://cdn.myanimelist.net/images/anime/7/215...

In [6]:
#Combining anime data with train data

merge_train=pd.merge(train_data,animes,on="anime_id",how="inner")
merge_test=pd.merge(test_data,animes,on="anime_id",how="inner")

In [7]:
#Deleting unnecessary columns

merge_train=merge_train.drop(['Name','Image URL','Username'],axis=1)
merge_test=merge_test.drop(['Name','Image URL','Username'],axis=1)

merge_train.head()

,user_id,anime_id,Anime Title,rating,Genres,Type,Studios,Source,Duration
0,549,790,Ergo Proxy,9,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep
1,3242,790,Ergo Proxy,9,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep
2,9377,790,Ergo Proxy,10,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep
3,11092,790,Ergo Proxy,8,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep
4,13980,790,Ergo Proxy,10,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep

In [8]:
#Split genres parts and add to the list each part.

matrix=[]
for i in merge_train['Genres']:
    a=i.split(', ')
    for s in a:
        j=0
        for m in matrix:
            if(s==m):
                j=1
        if j==0:
            matrix.append(s)
print(matrix)

['Mystery', 'Sci-Fi', 'Award Winning', 'Comedy', 'Fantasy', 'Ecchi', 'Action', 'Drama', 'Slice of Life', 'Adventure', 'Supernatural', 'Romance', 'Suspense', 'Avant Garde', 'Horror', 'Hentai', 'Girls Love', 'Sports', 'Boys Love', 'Gourmet', 'Erotica', 'UNKNOWN']

In [9]:
#we add genres columns to merge_train dataframe and put the value 0
for genre in matrix:
    merge_train[genre]=0
merge_train.head()

,user_id,anime_id,Anime Title,rating,Genres,Type,Studios,Source,Duration,Mystery,...,Suspense,Avant Garde,Horror,Hentai,Girls Love,Sports,Boys Love,Gourmet,Erotica,UNKNOWN
0,549,790,Ergo Proxy,9,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,0,...,0,0,0,0,0,0,0,0,0,0
1,3242,790,Ergo Proxy,9,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,0,...,0,0,0,0,0,0,0,0,0,0
2,9377,790,Ergo Proxy,10,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,0,...,0,0,0,0,0,0,0,0,0,0
3,11092,790,Ergo Proxy,8,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,0,...,0,0,0,0,0,0,0,0,0,0
4,13980,790,Ergo Proxy,10,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#if the anime has this genre we change the value 0 to 1

index=0
for row in merge_train['Genres']:
    a=row.split(', ')
    for genre in matrix:
        if genre in a:
             merge_train.at[index, genre] = 1
    index+=1
merge_train.head()

,user_id,anime_id,Anime Title,rating,Genres,Type,Studios,Source,Duration,Mystery,...,Suspense,Avant Garde,Horror,Hentai,Girls Love,Sports,Boys Love,Gourmet,Erotica,UNKNOWN
0,549,790,Ergo Proxy,9,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,1,...,0,0,0,0,0,0,0,0,0,0
1,3242,790,Ergo Proxy,9,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,1,...,0,0,0,0,0,0,0,0,0,0
2,9377,790,Ergo Proxy,10,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,1,...,0,0,0,0,0,0,0,0,0,0
3,11092,790,Ergo Proxy,8,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,1,...,0,0,0,0,0,0,0,0,0,0
4,13980,790,Ergo Proxy,10,"Mystery, Sci-Fi",TV,Manglobe,Original,25 min per ep,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#we drop the genres columns.
merge_train=merge_train.drop("Genres",axis=1)

we did same step for test data.

In [12]:
k=0
matrix=[]
for i in merge_test['Genres']:
    a=i.split(', ')
    for s in a:
        j=0
        for m in matrix:
            if(s==m):
                j=1
        if j==0:
            matrix.append(s)

In [13]:
for genre in matrix:
    merge_test[genre]=0

In [14]:
index=0
for row in merge_test['Genres']:
    a=row.split(', ')
    for genre in matrix:
        if genre in a:
             merge_test.at[index, genre] = 1
    index+=1

In [15]:
merge_test=merge_test.drop("Genres",axis=1)

In [16]:
#Converting hour to minutes for train data .

time_matrix=[]
for i in merge_train['Duration'] :
    time=0
    a=i.split(' ')
    k=0
    for j in a:
        if j==('hr'):
            time+=int(a[k-1])*60
        if j==('min'):
            time+=int(a[k-1])
        k+=1
    time_matrix.append(time)
    
merge_train["Duration"]=time_matrix
merge_train.head()

,user_id,anime_id,Anime Title,rating,Type,Studios,Source,Duration,Mystery,Sci-Fi,...,Suspense,Avant Garde,Horror,Hentai,Girls Love,Sports,Boys Love,Gourmet,Erotica,UNKNOWN
0,549,790,Ergo Proxy,9,TV,Manglobe,Original,25,1,1,...,0,0,0,0,0,0,0,0,0,0
1,3242,790,Ergo Proxy,9,TV,Manglobe,Original,25,1,1,...,0,0,0,0,0,0,0,0,0,0
2,9377,790,Ergo Proxy,10,TV,Manglobe,Original,25,1,1,...,0,0,0,0,0,0,0,0,0,0
3,11092,790,Ergo Proxy,8,TV,Manglobe,Original,25,1,1,...,0,0,0,0,0,0,0,0,0,0
4,13980,790,Ergo Proxy,10,TV,Manglobe,Original,25,1,1,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#Converting hour to minutes for test data.

time_matrix=[]
for i in merge_test['Duration'] :
    time=0
    a=i.split(' ')
    k=0
    for j in a:
        if j==('hr'):
            time+=int(a[k-1])*60
        if j==('min'):
            time+=int(a[k-1])
        k+=1
    time_matrix.append(time)
    
merge_test["Duration"]=time_matrix
merge_test.head()

,user_id,anime_id,Anime Title,rating,Type,Studios,Source,Duration,Action,Comedy,...,Mystery,Slice of Life,Suspense,Sports,Girls Love,Horror,Gourmet,Avant Garde,Boys Love,Erotica
0,15885,2026,Hayate no Gotoku!,9,TV,SynergySP,Manga,24,1,1,...,0,0,0,0,0,0,0,0,0,0
1,32511,2026,Hayate no Gotoku!,7,TV,SynergySP,Manga,24,1,1,...,0,0,0,0,0,0,0,0,0,0
2,15885,120,Fruits Basket,10,TV,Studio Deen,Manga,24,0,0,...,0,0,0,0,0,0,0,0,0,0
3,484803,120,Fruits Basket,9,TV,Studio Deen,Manga,24,0,0,...,0,0,0,0,0,0,0,0,0,0
4,488782,120,Fruits Basket,7,TV,Studio Deen,Manga,24,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
#we drop unnecessary columns
merge_train=merge_train.drop("Anime Title",axis=1)
merge_train=merge_train.drop("Studios",axis=1)

merge_test=merge_test.drop("Anime Title",axis=1)
merge_test=merge_test.drop("Studios",axis=1)

merge_train.head()

,user_id,anime_id,rating,Type,Source,Duration,Mystery,Sci-Fi,Award Winning,Comedy,...,Suspense,Avant Garde,Horror,Hentai,Girls Love,Sports,Boys Love,Gourmet,Erotica,UNKNOWN
0,549,790,9,TV,Original,25,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3242,790,9,TV,Original,25,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9377,790,10,TV,Original,25,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,11092,790,8,TV,Original,25,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13980,790,10,TV,Original,25,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#we seperate type and source part
merge_train=pd.get_dummies(merge_train, drop_first=True, columns=["Type", "Source"])
merge_test=pd.get_dummies(merge_test, drop_first=True, columns=["Type", "Source"])

merge_train.head()

,user_id,anime_id,rating,Duration,Mystery,Sci-Fi,Award Winning,Comedy,Fantasy,Ecchi,...,Source_Music,Source_Novel,Source_Original,Source_Other,Source_Picture book,Source_Radio,Source_Unknown,Source_Visual novel,Source_Web manga,Source_Web novel
0,549,790,9,25,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,3242,790,9,25,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,9377,790,10,25,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,11092,790,8,25,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,13980,790,10,25,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [20]:
#sorting the data for better perspective
merge_train.sort_values("user_id",inplace=True)
merge_test.sort_values("user_id",inplace=True)

merge_train

,user_id,anime_id,rating,Duration,Mystery,Sci-Fi,Award Winning,Comedy,Fantasy,Ecchi,...,Source_Music,Source_Novel,Source_Original,Source_Other,Source_Picture book,Source_Radio,Source_Unknown,Source_Visual novel,Source_Web manga,Source_Web novel
0,549,790,9,25,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
160,549,66,8,24,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
306,549,28805,9,119,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
310,549,13535,8,23,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
315,549,889,9,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47599,1290429,11077,8,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43825,1290429,10161,9,23,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
32671,1290429,6895,8,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21623,1290429,1726,8,24,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
29695,1290429,6707,8,24,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
merge_test.columns

Index(['user_id', 'anime_id', 'rating', 'Duration', 'Action', 'Comedy',
       'Romance', 'Drama', 'Supernatural', 'Sci-Fi', 'Adventure',
       'Award Winning', 'Fantasy', 'Ecchi', 'Mystery', 'Slice of Life',
       'Suspense', 'Sports', 'Girls Love', 'Horror', 'Gourmet', 'Avant Garde',
       'Boys Love', 'Erotica', 'Type_ONA', 'Type_OVA', 'Type_Special',
       'Type_TV', 'Source_Game', 'Source_Light novel', 'Source_Manga',
       'Source_Novel', 'Source_Original', 'Source_Other', 'Source_Unknown',
       'Source_Visual novel', 'Source_Web manga'],
      dtype='object')

In [22]:
merge_train.columns

Index(['user_id', 'anime_id', 'rating', 'Duration', 'Mystery', 'Sci-Fi',
       'Award Winning', 'Comedy', 'Fantasy', 'Ecchi', 'Action', 'Drama',
       'Slice of Life', 'Adventure', 'Supernatural', 'Romance', 'Suspense',
       'Avant Garde', 'Horror', 'Hentai', 'Girls Love', 'Sports', 'Boys Love',
       'Gourmet', 'Erotica', 'UNKNOWN', 'Type_Music', 'Type_ONA', 'Type_OVA',
       'Type_Special', 'Type_TV', 'Source_Book', 'Source_Card game',
       'Source_Game', 'Source_Light novel', 'Source_Manga',
       'Source_Mixed media', 'Source_Music', 'Source_Novel', 'Source_Original',
       'Source_Other', 'Source_Picture book', 'Source_Radio', 'Source_Unknown',
       'Source_Visual novel', 'Source_Web manga', 'Source_Web novel'],
      dtype='object')

In [23]:
#adding missing columns to test data and put the value 0. We want train and test data will have same columns
merge_test["Hentai"]=0
merge_test["UNKNOWN"]=0
merge_test["Type_Music"]=0
merge_test["Source_Book"]=0
merge_test["Source_Card game"]=0
merge_test["Source_Mixed media"]=0
merge_test["Source Music"]=0
merge_test["Source_Picture book"]=0
merge_test["Source_Radio"]=0
merge_test["Source_Web novel"]=0
merge_test

,user_id,anime_id,rating,Duration,Action,Comedy,Romance,Drama,Supernatural,Sci-Fi,...,Hentai,UNKNOWN,Type_Music,Source_Book,Source_Card game,Source_Mixed media,Source Music,Source_Picture book,Source_Radio,Source_Web novel
0,15885,2026,9,24,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,15885,189,8,23,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,15885,837,7,29,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,15885,1530,10,24,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
24,15885,9289,10,24,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1257993,13601,10,23,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
497,1257993,2251,8,24,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
632,1257993,9756,10,24,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
101,1257993,1535,7,23,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
876,1257993,7311,10,161,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# We sort the test data , because we want to test and train data will has same row order. Then we can calculate similarities.

sorted_columns = sorted(merge_test.columns)
merge_test = merge_test[sorted_columns]

merge_test

,Action,Adventure,Avant Garde,Award Winning,Boys Love,Comedy,Drama,Duration,Ecchi,Erotica,...,Suspense,Type_Music,Type_ONA,Type_OVA,Type_Special,Type_TV,UNKNOWN,anime_id,rating,user_id
0,1,0,0,0,0,1,0,24,0,0,...,0,0,0,0,0,1,0,2026,9,15885
27,0,0,0,0,0,1,0,23,1,0,...,0,0,0,0,0,1,0,189,8,15885
26,0,0,0,0,0,1,0,29,1,0,...,0,0,0,1,0,0,0,837,7,15885
25,0,0,0,0,0,0,1,24,0,0,...,0,0,0,0,0,1,0,1530,10,15885
24,0,0,0,0,0,0,1,24,0,0,...,0,0,0,0,0,1,0,9289,10,15885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,0,0,0,0,0,0,23,0,0,...,1,0,0,0,0,1,0,13601,10,1257993
497,1,0,0,0,0,1,0,24,0,0,...,0,0,0,0,0,1,0,2251,8,1257993
632,0,0,0,1,0,0,1,24,0,0,...,1,0,0,0,0,1,0,9756,10,1257993
101,0,0,0,0,0,0,0,23,0,0,...,1,0,0,0,0,1,0,1535,7,1257993
876,0,0,0,1,0,0,0,161,0,0,...,0,0,0,0,0,0,0,7311,10,1257993

In [25]:
sorted_columns = sorted(merge_train.columns)
merge_train = merge_train[sorted_columns]

merge_train

,Action,Adventure,Avant Garde,Award Winning,Boys Love,Comedy,Drama,Duration,Ecchi,Erotica,...,Suspense,Type_Music,Type_ONA,Type_OVA,Type_Special,Type_TV,UNKNOWN,anime_id,rating,user_id
0,0,0,0,0,0,0,0,25,0,0,...,0,0,0,0,0,1,0,790,9,549
160,0,0,0,0,0,1,0,24,0,0,...,0,0,0,0,0,1,0,66,8,549
306,0,1,0,0,0,0,0,119,0,0,...,0,0,0,0,0,0,0,28805,9,549
310,0,0,0,0,0,1,0,23,0,0,...,0,0,0,0,0,1,0,13535,8,549
315,1,0,0,0,0,0,0,23,0,0,...,0,0,0,0,0,1,0,889,9,549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47599,1,0,0,0,0,0,0,10,0,0,...,0,0,0,0,1,0,0,11077,8,1290429
43825,1,0,0,0,0,0,1,23,0,0,...,0,0,0,0,0,1,0,10161,9,1290429
32671,1,0,0,0,0,0,1,23,0,0,...,0,0,0,0,0,1,0,6895,8,1290429
21623,1,0,0,0,0,0,0,24,0,0,...,0,0,0,0,0,1,0,1726,8,1290429
29695,1,0,0,0,0,1,0,24,0,0,...,0,0,0,0,0,1,0,6707,8,1290429

STEP-2

K-Fold=5

In [26]:
X=merge_train.drop(['rating'],axis=1)
y=merge_train['rating']

In [27]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

cross_val_score(LogisticRegression(),X,y,cv=5)

C:\Users\90544\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\90544\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\90544\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\90544\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\90544\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0.27927472, 0.276641  , 0.27917342, 0.27917342, 0.27927472])

STEP-3

In [28]:
def euclidean_distance(row1, row2):
    distance = np.linalg.norm(row1 - row2)
    return distance

In [109]:
#user1=train row , user2=test row
#this function calculate cosine similarity between test and train data.
from sklearn.metrics.pairwise import cosine_similarity
def user_similarity(user1,user2):
    ax=0
    for idx_test in range(user2.shape[0]):
        ay=0
        for idx_train in range(user1.shape[0]):
            ay+=cosine_similarity(np.array([user1[idx_train]]), np.array([user2[idx_test]]))
            
        ax+=(ay/user1.shape[0])
    return ax

In [30]:
merge_train['user_id'].nunique()

3000

In [31]:
merge_train_user=merge_train['user_id'].unique()
merge_train_user

array([    549,     644,    1519, ..., 1289795, 1289833, 1290429],
      dtype=int64)

In [32]:
merge_test['user_id'].nunique()

50

In [33]:
merge_test_user=merge_test['user_id'].unique()
merge_test_user

array([  15885,   25162,   32511,   42465,   48020,   65509,   70802,
         76558,   81064,   87803,   89213,   97496,   97590,  101776,
        114480,  312343,  326753,  329974,  331681,  346448,  351112,
        356278,  359648,  360082,  369450,  376455,  383825,  392840,
        413861,  420780,  436462,  437818,  450022,  456789,  480255,
        483207,  484803,  486140,  488782,  497210,  508927,  521759,
        524737,  530619,  549863,  601187, 1061301, 1123463, 1204987,
       1257993], dtype=int64)

In [37]:
#we have 3000 train data users , and 50 test data users
matrix_similarity = np.zeros((3000, 50))

In [110]:
#We calculate similarities between test and train data users.
#Then we assign the similarity value of each test user to the train user into the matrix.
for i in range(50):
    test_user=merge_test.loc[merge_test["user_id"]==merge_test_user[i]]
    for j in range(3000):
        train_user=merge_train.loc[merge_train["user_id"]==merge_train_user[j]]
        matrix_similarity[j][i]=user_similarity(np.array(test_user), np.array(train_user))

In [111]:
matrix_similarity

array([[12.46157338, 11.91974662, 12.48032264, ..., 11.56528056,
        11.54709021, 11.57698328],
       [11.69477964, 11.48487986, 11.78043146, ..., 11.2946418 ,
        11.28465239, 11.30104988],
       [14.93866754, 14.91856286, 15.10499438, ..., 14.7945024 ,
        14.78761268, 14.79888742],
       ...,
       [16.68106119, 16.98286691, 16.9411791 , ..., 16.99982112,
        16.9998034 , 16.99974861],
       [19.62909627, 19.98126506, 19.93450635, ..., 19.99979616,
        19.99970477, 19.99975642],
       [10.79445172, 10.98919198, 10.96264828, ..., 10.99989562,
        10.99987086, 10.99985729]])

In [112]:
matrix_rating = np.zeros((877,3 ))
matrix_rating

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       ...,
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [122]:
#we want to calculate most 7 similar users for each test user.
#we have 3 lists. one of them "largest" for while calculating , we assign list's biggest value.
#one of them "largest_similarity" for keep the value of 7 closest train users for each test user
#one of them index keep the index of train users in the largest_similarity list.

largest=[]
largest_similarity=np.zeros((50,7))
index=np.zeros((50,7))
for i in range(50):
    for k in range(7):
        x1=0
        x=0
        for j in range(3000):
            if (matrix_similarity[j][i]>x1 and matrix_similarity[j][i] not in largest):
                x1=matrix_similarity[j][i]
                x=j
        largest.append(x1)
        index[i][k]=x
        largest_similarity[i][k]=x1
print(index[0][0])

1662.0

In [143]:
#There is complicated part so I want to explain Turkish.
#Burada 6 tane liste oluşturdum.
#İlk 3 listeye en yakın 3,5,7 komşuya göre rating tahminlerini , son üç listeye ise 3,5,7 komşularının ağırlıklarına göre atadım. 
#Bunu yaparken önceden oluşturduğum listelerin içindeki değerleri kullandım.


key=0
rating_predict_values=[]
rating_predict_values2=[]
rating_predict_values3=[]

rating_predict_values_weighted=[]
rating_predict_values2_weighted=[]
rating_predict_values3_weighted=[]


for x in merge_test_user:
    mtx_test=merge_test.loc[merge_test["user_id"]==x]
    mtx_train1=merge_train.loc[merge_train["user_id"]==(merge_train_user[int(index[key][0])])]
    mtx_train2=merge_train.loc[merge_train["user_id"]==(merge_train_user[int(index[key][1])])]
    mtx_train3=merge_train.loc[merge_train["user_id"]==(merge_train_user[int(index[key][2])])]
    mtx_train4=merge_train.loc[merge_train["user_id"]==(merge_train_user[int(index[key][3])])]
    mtx_train5=merge_train.loc[merge_train["user_id"]==(merge_train_user[int(index[key][4])])]
    mtx_train6=merge_train.loc[merge_train["user_id"]==(merge_train_user[int(index[key][5])])]
    mtx_train7=merge_train.loc[merge_train["user_id"]==(merge_train_user[int(index[key][6])])]
    for i in mtx_test.to_numpy():
        predict=0
        predict_weighted=0
        summ = sum(largest_similarity[key])
        
        for j in mtx_train1.to_numpy():
        
            if(i[44]==j[44]):
                predict+=j[45]
                predict_weighted+=j[45]*(largest_similarity[key][0]/summ)
        for j in mtx_train2.to_numpy():
            if(i[44]==j[44]):
                predict+=j[45] 
                predict_weighted+=j[45]*(largest_similarity[key][1]/summ)

        for j in mtx_train3.to_numpy():
            if(i[44]==j[44]):
                predict+=j[45]
                predict_weighted+=j[45]*(largest_similarity[key][2]/summ)

        if (predict!=0):
            rating_predict_values.append(predict/3)
            rating_predict_values_weighted.append(predict_weighted)
        if (predict==0):
            rating_predict_values.append(np.mean(merge_train["rating"].to_numpy()))
            rating_predict_values_weighted.append(np.mean(merge_train["rating"].to_numpy()))
            
        for j in mtx_train4.to_numpy():
            if(i[44]==j[44]):
                predict+=j[45]
                predict_weighted+=j[45]*(largest_similarity[key][3]/summ)
        for j in mtx_train5.to_numpy():
            if(i[44]==j[44]):
                predict+=j[45]
                predict_weighted+=j[45]*(largest_similarity[key][4]/summ)
        if (predict!=0):
            rating_predict_values2.append(predict/5)
            rating_predict_values2_weighted.append(predict_weighted)
        if (predict==0):
            rating_predict_values2.append(np.mean(merge_train["rating"].to_numpy()))
            rating_predict_values2_weighted.append(np.mean(merge_train["rating"].to_numpy()))
        
        for j in mtx_train6.to_numpy():
            if(i[44]==j[44]):
                predict+=j[45]
                predict_weighted+=j[45]*(largest_similarity[key][5]/summ)
        for j in mtx_train7.to_numpy():
            if(i[44]==j[44]):
                predict+=j[45]
                predict_weighted+=j[45]*(largest_similarity[key][6]/summ)
        if (predict!=0):
            rating_predict_values3.append(predict/7)
            rating_predict_values3_weighted.append(predict_weighted)
        if (predict==0):
            rating_predict_values3.append(np.mean(merge_train["rating"].to_numpy()))
            rating_predict_values3_weighted.append(np.mean(merge_train["rating"].to_numpy()))
    key+=1

In [144]:
#for k=3 mae
n = len(merge_test["rating"].to_numpy())
mae = sum([abs(gerçek - tahmin) for gerçek, tahmin in zip(merge_test["rating"].to_numpy(), rating_predict_values)]) / n
mae

1.9908952262852786

In [145]:
#for k=5 mae
n = len(merge_test["rating"].to_numpy())
mae = sum([abs(gerçek - tahmin) for gerçek, tahmin in zip(merge_test["rating"].to_numpy(), rating_predict_values2)]) / n
mae

2.512886220705998

In [146]:
#for k=7 mae
n = len(merge_test["rating"].to_numpy())
mae = sum([abs(gerçek - tahmin) for gerçek, tahmin in zip(merge_test["rating"].to_numpy(), rating_predict_values3)]) / n
mae

3.027852739202535

In [147]:
#for weighted and k=3 mae
n = len(merge_test["rating"].to_numpy())
mae = sum([abs(gerçek - tahmin) for gerçek, tahmin in zip(merge_test["rating"].to_numpy(), rating_predict_values_weighted)]) / n
mae

2.3023425773817436

In [148]:
#for weighted and k=5 mae
n = len(merge_test["rating"].to_numpy())
mae = sum([abs(gerçek - tahmin) for gerçek, tahmin in zip(merge_test["rating"].to_numpy(), rating_predict_values2_weighted)]) / n
mae

2.669521082656759

In [149]:
#for weighted and k=7 mae
n = len(merge_test["rating"].to_numpy())
mae = sum([abs(gerçek - tahmin) for gerçek, tahmin in zip(merge_test["rating"].to_numpy(), rating_predict_values3_weighted)]) / n
mae

3.027852694848811

# Report

First I draw the matrix after merging animes and user data.Then I calculate similarities for each users between train and test data.Then I add the value into the matrix which is x coordinate is test value and y coordinate is train value. Then I check for 3,5,7 closest neighbors's rating data.I think there is problem with calculating similarities.Beceause there are a lot of closest neighbor which is no common anime. I put them mean of rating and it makes mae bigger.
There is min error for k=3.So it is optimal value for these oppurtunities.